<%= render 'wodprs' %>
<p>_____________________________________</p>
<%= render 'movementprs' %>
<h1><%= @user.name %> Profile</h1>

<ul>
	<li>User name: <%= @user.name %></li>
	<li>Email address: <%= @user.email %></li>
	<% if current_user.owner == true %>
		<li>Owner Status: <%= @user.owner %></li>
	<% end %>	
</ul>
<p>_____________________________________</p>		

<div>
	<div>
		<% if current_user.usermovements.size > 0 %>
			<%= link_to "Individual Movements", user_usermovement_path(current_user, @usermovement.id), class: "show_movements" %> |
			<%= link_to "All Movements", user_usermovements_path(current_user.id), class: "load_movements" %><br> 
		<% else %>
			<h3>You have no existing movements</h3>
		<% end %>
		<%= link_to "New Movement", new_user_usermovement_path(current_user) %><br>
		<%= link_to "New Wod", new_user_userwod_path(current_user) %><br>
			<% if current_user.userwods.size > 0 %>
			<%= link_to "Individual Wods", user_userwod_path(current_user, @userwod.id), class: "show_wods" %> |
			<%= link_to "All Wods", user_userwods_path(current_user.id), class: "load_wods" %>
		<% else %>
			<h3>You have no existing wods</h3>
		<% end %>	
	<p>_____________________________________</p>
	</div>
</div>

<div class="crossfit-container">
</div>




