
<nav>
	<h3>
	<% if current_user %>	
		<%= link_to "Home", user_path(current_user) %> |
	<% end %>	
	<%= link_to "Sign up", new_user_path %> |
	<%= link_to "Sign out", '/sessions/destroy', :method => :delete %> |
	<%= link_to "Sign in", '/sessions/new' %> |
	<%= link_to "Sign in with Facebook", '/auth/facebook' %></h3>	
</nav>		