<!DOCTYPE html>
<html>
	<head>
	  <script src="https://"code.jquery.com/jquery-3.1.1.min.js></script>
	  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	  <title>WODapp</title>
	</head>
	<body>
		<div class="container">
			<header>
		
			</header>  
			<main role="main">
				<div class="decorate">
					<%= render 'layouts/navigation' %>
					<%= render 'layouts/messages' %>
					<%= yield %>
				</div>
			</main>
		</div>
	</body>
</html>
